@import "tailwindcss";
@plugin "daisyui";
* {
  font-family: "Lato", sans-serif;
  }
  body{
    color: #666666;
    background-color: #fff;
  }

  .swiper {
    height: 100%;
  }
  
  .swiper-slide {
    height: auto !important;
  }
  .home-section3.swiper .card  {
  height: 100% !important
  }

  .swiper-pagination-bullet-active{
    background-color: #fff !important;
  }

  .swiper.swiper-gallery{
    max-width: 100%;
    overflow: hidden;
  }




     .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: '' !important;
        }

        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            content: '' !important;
        }

        .swiper-button-next svg,
        .swiper-button-prev svg {
            width: 24px !important;
            height: 24px !important;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: relative !important;
        }

    .testimonials-section .swiper-slide{
      display: grid;
      grid-template-rows: 30px auto 60px;
    }